<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.drake.social_club_app_cs188"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeMenu"
            android:label="@string/title_activity_home_menu" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.social_club_app_cs188.MainActivity" />
        </activity>
        <activity
            android:name=".Calendar"
            android:label="@string/title_activity_calendar"
            android:parentActivityName="edu.drake.Social_Club_App_CS188.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.Social_Club_App_CS188.MainActivity" />
        </activity>
        <activity
            android:name=".EventPage"
            android:label="@string/title_activity_event_page"
            android:parentActivityName=".Search" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.social_club_app_cs188.Search" />
        </activity>
        <activity
            android:name=".IndividualDay"
            android:label="@string/title_activity_individual_day"
            android:parentActivityName=".Calendar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.social_club_app_cs188.Calendar" />
        </activity>
        <activity
            android:name=".Favorites"
            android:label="@string/title_activity_favorites"
            android:parentActivityName=".HomeMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.social_club_app_cs188.HomeMenu" />
        </activity>
        <activity
            android:name=".Categories"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".HomeMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.social_club_app_cs188.HomeMenu" />
        </activity>
        <activity
            android:name=".Suggestions"
            android:label="@string/title_activity_suggestions"
            android:parentActivityName=".HomeMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.social_club_app_cs188.HomeMenu" />
        </activity>
        <activity
            android:name=".IndividualCategory"
            android:label="@string/title_activity_individual_category"
            android:parentActivityName=".Categories" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.social_club_app_cs188.Categories" />
        </activity>
        <activity
            android:name=".Today"
            android:label="@string/title_activity_today"
            android:parentActivityName=".HomeMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.drake.social_club_app_cs188.HomeMenu" />
        </activity>
    </application>

</manifest>
